<mat-sidenav-container class="app-container" [class.area-toolbar]="hasAreaToolbar" >
    <mat-sidenav id="sidenav" #sidenav [mode]="'side'" opened="true" >
        <main-menu></main-menu>
    </mat-sidenav>
    
    <mat-sidenav-content>
        <mat-toolbar class="main-toolbar" color="primary">
            <mat-toolbar-row>               
                <button mat-icon-button (click)="sidenav.toggle()">
                    <mat-icon id="sideToggleIcon" svgIcon="side-menu" [class.menu-closed]="!sidenav.opened"></mat-icon>
                </button>

                <span class="app-title">Net Fusion</span> 
                <mat-icon svgIcon="app-icon"></mat-icon>

                <span class="toolbar-spacer"></span>
                
                <div>
                    <mat-select name="app-areas" #areas placeholder="Application Areas" 
                        [value] = "selectedAreaMenuItem"
                        (change)="areaMenuItemSelected($event.value)">
                        
                        <mat-option *ngFor="let areaMenuItem of areaMenuItems" [value]="areaMenuItem">
                            <mat-icon [svgIcon]="areaMenuItem.iconName"></mat-icon>{{ areaMenuItem.title }}
                        </mat-option>
                    </mat-select>
                
                    <button mat-icon-button (click)="areas.open()">
                        <mat-icon svgIcon="app-areas"></mat-icon>
                    </button>
                </div>

            </mat-toolbar-row>
        </mat-toolbar>

        <menu-content></menu-content>

        <mat-toolbar class="footer-toolbar" color="accent" *ngIf="hasAreaToolbar">
            <ng-template area-toolbar>

            </ng-template>
        </mat-toolbar>
    </mat-sidenav-content>
</mat-sidenav-container>

