<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CompositeLogViewer</title>
</head>
<body>
    <div ng-app="netfusion.app"> 
        <div ng-controller="compositeViewerController">
            <json-formatter open="1" json="log"></json-formatter>
        </div>
    </div>
</body>
</html>
