<div row flex ng-controller="PortalController as ctrl" ng-cloak="">
    <md-toolbar flex class="md-menu-toolbar">
        <div flex layout="row">
            <div flex>
                <h2 flex class="md-toolbar-tools nb-portal-title">
                    NetFusion Composite App: 
                    {{ctrl.viewModel.title}}</h2>
                <md-menu-bar>
                    <md-menu>
                        <button ng-click="$mdOpenMenu()">
                            Hosts
                        </button>
                        <md-menu-content>
                            <md-menu-item ng-repeat="item in ctrl.viewModel.hostLogMenuItems">
                                <md-button ng-click="ctrl.hostSelected(item, $event)">
                                    {{item.pluginName}}
                                </md-button>
                            </md-menu-item>
                        </md-menu-content>
                    </md-menu>

                    <md-menu>
                        <button ng-click="$mdOpenMenu()">
                            Plug-Ins
                        </button>
                        <md-menu-content>
                            <md-menu>
                                <md-button ng-click="$mdOpenMenu()">
                                    Application Host
                                </md-button>
                                <md-menu-content>
                                    <md-menu-item ng-repeat="item in ctrl.viewModel.hostPluginMenuItems">
                                        <md-button ng-click="ctrl.sampleAction('New Document', $event)">
                                            {{item.pluginName}}
                                        </md-button>
                                    </md-menu-item>
                                </md-menu-content>
                            </md-menu>
                            <md-menu>
                                <md-button ng-click="$mdOpenMenu()">
                                    Application Components
                                </md-button>
                                <md-menu-content>
                                    <md-menu-item ng-repeat="item in ctrl.viewModel.appComponentPluginMenuItems">
                                        <md-button ng-click="ctrl.sampleAction('New Document', $event)">
                                            {{item.pluginName}}
                                        </md-button>
                                    </md-menu-item>
                                </md-menu-content>
                            </md-menu>
                            <md-menu>
                                <md-button ng-click="$mdOpenMenu()">
                                    Core Plug-ins
                                </md-button>
                                <md-menu-content>
                                    <md-menu-item ng-repeat="item in ctrl.viewModel.corePLuginMenuItems">
                                        <md-button ng-click="ctrl.sampleAction('New Document', $event)">
                                            {{item.pluginName}}
                                        </md-button>
                                    </md-menu-item>
                                </md-menu-content>
                            </md-menu>
                        </md-menu-content>
                    </md-menu>
                </md-menu-bar>
            </div>
        </div>
    </md-toolbar>
    <md-divider></md-divider>

    <md-content layout="row" flex layout-padding>
        <div ui-view></div>
        <json-formatter flex open="1" json="ctrl.viewModel.serverLog"></json-formatter>
    </md-content>
</div>

