<nav-toolbar [isDisplayed]="true"></nav-toolbar>
<div class="area-content">
    <div class="plugin-summary">
        <h1 class="section-header">Plugin Summary</h1>
        <div class="portal-definition-list">
            <dl class="version-info">
                <dt>Nuget Package</dt><dd>{{nugetPackageName}}</dd>
                <dt>Documentation</dt><dd><a href="{{documentationUrl}}" target="_blank">View</a></dd>
                <dt>Container Scope</dt><dd>{{containerScope}}</dd>
            </dl>
        </div>
    </div>

    <div class="plugin-overview">
        <h1 class="section-header">Overview</h1>
        <ul>
            <li>Provides a consistent configuration of MongoDb contexts.</li>
            <li>Extends the NetFusion.Settings plugin.</li>
            <li>Each MongoDb context is represented as a configuration setting.</li>
            <li>Automatically discovers and configures all mapping classes.</li>
        </ul>
    </div>

    <div class="plugin-usage">
        <h1 class="section-header">Usage Summary</h1>
        <ul>
            <li>Define a configuration section to represent the database.</li>
            <li>Declare class deriving from MongoSettings.</li>
            <li>Specify the settings of the database.</li>
            <li>Define entity mappings by deriving from the EntityClassMap base class.</li>
            <li>Inject an instance of the IMongoDbClient generic interface using the setting class as the parameter.</li>
        </ul>
    </div>

    <div class="plugin-suggestions">
        <h1 class="section-header">Suggestions</h1>
        <ul>
            <li>Usually the IMongoDbContext is injected into a repository</li>
            <li>The implementation of the repository is usually defined within the Infra project.</li>
            <li>The interface implemented by the repository is defined within the Domain project.</li>
            <li>The methods of the repository interface usually return entities defined within the Domain project.</li>
            <li>Repositories are usually injected into Controllers or Command/Query handlers.</li>
        </ul>
    </div>
    <div class="plugin-examples">
        <h1 class="section-header">Examples</h1>
        <p>
            The following examples will invoke a controller method on the server injecting a repository
            based on MongoDb.  
        </p>
        <div class="plugin-example">
            <h2 class="section-header">Example:  Adding to database collection</h2>
            <p>
                The following example will add a new customer document to the database.
                The results are displayed with the assigned document Id.
            </p>
            <div class="inputs">
                <div>
                    <textarea [(ngModel)]="newCustomerBody"></textarea>
                </div> 
                <button type="submit" mat-raised-button (click)="addEntity()" color="primary">Add Entity</button>
            </div>
            <div class="results">
                <json-viewer [json]="newCustomerResult" class="viewer"></json-viewer>
            </div>
        </div>

        <div class="plugin-example">
            <h2 class="section-header">Reading from database collection</h2>
            <p>
                The following example will query an existing customer document by its identity value.
                The resulting customer document is displayed.  Use the returned customer identity value
                from the prior example response.  The results are displayed for the next example's input.
            </p>
            <div class="inputs">
                <div>CustomerID: <input [(ngModel)]="readCustomerId"></div>
                <button type="submit" mat-raised-button (click)="readEntity()" color="primary">Read Entity</button>
            </div>
            <div class="results">
                <json-viewer [json]="readCustomerResult" class="viewer"></json-viewer>
            </div>
        </div>

        <div class="plugin-example">
            <h2 class="section-header">Updated database collection document</h2>
            <p>
                The following example will update an existing customer document by its identity value.
                Modify the below customer document and save the changes.  The updated results are displayed.
            </p>
            <div class="inputs">
                <div>
                    <textarea [(ngModel)]="updatedCustomerBody"></textarea>
                </div> 
                <button type="submit" mat-raised-button (click)="updateEntity()" color="primary">Update Entity</button>
            </div>
            <div class="results">
                <json-viewer [json]="updatedCustomerResult" class="viewer"></json-viewer>
            </div>
        </div>
    </div>
</div>