<div class="section-notes">
    This tutorial provides summarized steps and code examples on how to use each of the 
    current plugin components.  The plugin tutorials are available on the left dropdown 
    menu and are in order best suited for understanding as some plugins extend features
    provided by others.  Examples are shown for the following plugins:

    <dl>
        <dt>NetFusion.Settings</dt>
        <dd>
            Plugin that extends Microsoft's configuration settings implementation and provides
            additional services. 
        </dd>
        <dt>NetFusion.Messaging</dt>
        <dd>
            Core implementation of the CQRS design pattern.  This core implementation provides 
            sending commands, publishing domain-events, and dispatching queries to in-process 
            in-process message handlers.  Other plugins, such as NetFusion.RabbitMQ, NetFusion.AMQP,
            and NetFusion.Redis provide extend the base messaging pattern to allows messages to
            be delivered out-of-process.  While how a message is delivered can vary, the approach
            to sending the messaging and consuming it are nearly identical.
        </dd>
        <dt>NetFusion.MongoDb</dt>
        <dd>
            Plugin providing simple configuration for MongoDb and built on the official MongoDB .NET driver.
        </dd>
        <dt>NetFusion.RabbitMQ</dt>
        <dd>
            Plugin built using the open-source EasyNetQ library extending the base NetFusion.Messaging plugin and
            allows sending commands and publishing domain-events over RabbitMQ topics.
        </dd>
        <dt>NetFusion.AMQP</dt>
        <dd>
            Plugin built using the open-source AMQPNetLite library extending the base NetFusion.Messaging plugin and
            allows sending commands and publishing domain-events over AMQP compliant brokers.
        </dd>
        <dt>NetFusion.Redis</dt>
        <dd>
            Plugin providing simple configuration for Redis and built on the official Redis .NET driver.
        </dd>
    </dl>

    The tutorial consists of the following components:

    <dl>
        <dt>Client</dt>
        <dd>
            This is an Angular application making api calls the the Service.WebApi service to execute
            server-side example code.
        </dd>
        <dt>Service.WebApi</dt>
        <dd>
            This is an ASP.NET Core WebApi project containing controllers used to execute each of the examples.
        </dd>
        <dt>Service.Client</dt>
        <dd>
            A .NET Core Console application that when running will subscribe to messages that are written to the console.
        </dd>
    </dl>
</div>