version: 1.7.{build}
image: Previous Visual Studio 2017

pull_requests:
  do_not_increment_build_number: true

before_build:
  - ps: dotnet restore 

build_script:
  - ps: msbuild "/t:Restore;Pack" .\NetFusion.sln /p:VersionPrefix="$env:APPVEYOR_BUILD_VERSION"
  
test_script:
  - ps: dotnet test .\test\CommonTests\CommonTests.csproj -f netcoreapp1.1
  - ps: dotnet test .\test\CoreTests\CoreTests.csproj -f netcoreapp1.1
  - ps: dotnet test .\test\DomainTests\DomainTests.csproj -f netcoreapp1.1
  - ps: dotnet test .\test\InfrastructureTests\InfrastructureTests.csproj -f netcoreapp1.1
  - ps: dotnet test .\test\IntegrationTests\IntegrationTests.csproj -f netcoreapp1.1
  - ps: dotnet test .\test\UtilitiesTests\UtilitiesTests.csproj -f netcoreapp1.1
  
artifacts:
  - path: src\**\*.nupkg
    name: MyGet
      
deploy:
  - provider: NuGet
    artifact: MyGet
    api_key:
      secure: 680Pna+OADrRxf8aAe17NDNnRpJ/3acg0NpRDPqz1Po=
    skip_symbols: false
