[name='param-entry'] {
    margin-top: 15px;
    margin-bottom: 15px;
}

[name='param-entry'] button[name='execute'] {
    margin-top: 8px;
}

[name='body-content'] {
    textarea {
        width: 745px;
        height: 200px;
    }
}