
 <mat-table name="notification-listing" #table [dataSource]="notificationList">
        <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef>Notification Name</mat-header-cell>
            <mat-cell *matCellDef="let notification"> {{notification.notificationName}} </mat-cell>
        </ng-container>
    
        <ng-container matColumnDef="sourceType">
            <mat-header-cell *matHeaderCellDef>Source Type</mat-header-cell>
            <mat-cell *matCellDef="let notification"> {{notification.sourceType}} </mat-cell> 
        </ng-container>

        <ng-container matColumnDef="sourceName">
            <mat-header-cell *matHeaderCellDef>Source Name</mat-header-cell>
            <mat-cell *matCellDef="let notification"> {{notification.sourceName}} </mat-cell> 
        </ng-container>

        <ng-container matColumnDef="sourceValue">
            <mat-header-cell *matHeaderCellDef>Source Value</mat-header-cell>
            <mat-cell *matCellDef="let notification">
                <span *ngIf="notification.displayInline">{{notification.sourceValue}}</span>
                <button *ngIf="!notification.displayInline" mat-icon-button (click)="displayResource(notification)" >
                    <mat-icon svgIcon="open-dialog"></mat-icon>
                </button>
            </mat-cell> 
        </ng-container>
    
        <mat-header-row *matHeaderRowDef="notificationColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: notificationColumns;"></mat-row>
    </mat-table>