body {
    background-color: #fff;
}

.json-formatter-dark.json-formatter-row, .json-formatter-row {
    font-size: 16px;
}

md-toolbar.md-menu-toolbar h2.md-toolbar-tools.nb-portal-title {
    padding: 20px;
    color: #517da9;
    font-weight: bolder;
    background-color: lightsteelblue;
}