<div fxLayout="row" name="resource-display" fxLayout.sm="column">
    <div fxFlex="50" name="resources">
        <mat-card name="resource" class="card-info">
            <mat-card-title>Resource</mat-card-title>
            <mat-card-content>
                <div name="edit-options">
                    <mat-button-toggle-group [(ngModel)]="selectedViewOption">
                        <mat-button-toggle color="primary" [value]="ViewOptions.View">
                            VIEW
                        </mat-button-toggle>
                        <mat-button-toggle [value]="ViewOptions.Edit">
                            EDIT
                        </mat-button-toggle>
                    </mat-button-toggle-group>
                </div>                
                <json-viewer [json]="loadedResource.resource" class="viewer" *ngIf="selectedViewOption == ViewOptions.View"></json-viewer>
                <textarea id="resourceJson" rows="15" name="resourceJson" [(ngModel)]="resourceJson" *ngIf="selectedViewOption == ViewOptions.Edit"></textarea>
            </mat-card-content>
        </mat-card>  

        <mat-card name="embeddedResources" class="card-info">
            <mat-card-title>Embedded Resources</mat-card-title>
            <mat-card-content>
               <embedded-viewer [loadedResource]="loadedResource"></embedded-viewer>
            </mat-card-content>
        </mat-card>
    </div>
    
    <div fxFlex="50">
        <mat-card class="card-info card-list">
            <mat-card-title>Relations</mat-card-title>
            <mat-card-content>
                <relation-viewer [loadedResource]="loadedResource" (relationSelected)="resourceLinkSelected($event)"></relation-viewer>
            </mat-card-content>
        </mat-card>
    </div>
</div>
<div fxLayout="row" name="resource-display" fxLayout.sm="column">
    <div fxFlex="50" name="resources">
        <mat-card class="card-info" name="response" *ngIf="loadedResource.lastResponse">
            <mat-card-title>
                Response
                <button mat-icon-button (click)="setResource()">
                    <mat-icon svgIcon="move-content"></mat-icon>
                </button>
            </mat-card-title>               
            <mat-card-content>           
                <json-viewer [json]="loadedResource.lastResponse" class="viewer"></json-viewer>
            </mat-card-content>
        </mat-card>  
    </div>

    <div fxFlex="50" name="notifications">
        <mat-card class="card-info card-list" *ngIf="loadedResource.lastResponse">
            <mat-card-title>Notifications</mat-card-title>    
            <mat-card-content>           
                <notification-viewer [notifications]="loadedResource.lastNotifications"></notification-viewer>          
            </mat-card-content>
        </mat-card>  
    </div>
</div>