
 <mat-table name="embedded-listing" #table [dataSource]="embeddedResourceList">
    <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef>Embedded Name</mat-header-cell>
        <mat-cell *matCellDef="let embedded"> {{embedded.relationName}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="type">
        <mat-header-cell *matHeaderCellDef>Type</mat-header-cell>
        <mat-cell *matCellDef="let embedded">{{embedded.embeddedType}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="structure">
        <mat-header-cell *matHeaderCellDef>Structure</mat-header-cell>
        <mat-cell *matCellDef="let embedded">
            <button mat-icon-button (click)="displayResource(embedded)" >
                <mat-icon svgIcon="open-dialog"></mat-icon>
            </button>
        </mat-cell> 
    </ng-container>

    <ng-container matColumnDef="open">
        <mat-header-cell *matHeaderCellDef>New Tab</mat-header-cell>
        <mat-cell *matCellDef="let embedded">
            <button mat-icon-button (click)="openResource(embedded)" *ngIf="embedded.canOpenInNewTab" >
                <mat-icon svgIcon="open-tab"></mat-icon>
            </button>
           <span *ngIf="!embedded.canOpenInNewTab">(Select Child Resource)</span>
        </mat-cell> 
    </ng-container>

    <mat-header-row *matHeaderRowDef="embeddedResourceColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: embeddedResourceColumns;"></mat-row>
</mat-table>
      