<nav-toolbar [isDisplayed]="true"></nav-toolbar>
<div class="area-content">
    <div class="plugin-summary">
        <h1 class="section-header">Plugin Summary</h1>
        <div class="portal-definition-list">
            <dl class="version-info">
                <dt>Nuget Package</dt><dd>{{nugetPackageName}}</dd>
                <dt>Documentation</dt><dd><a href="{{documentationUrl}}" target="_blank">View</a></dd>
                <dt>Container Scope</dt><dd>{{containerScope}}</dd>
            </dl>
        </div>
    </div>

    <div class="plugin-overview">
        <h1 class="section-header">Overview</h1>
        <ul>
            <li>Consistent configuration.</li>
            <li>Exposes the configured underlying database and subscriber interfaces provided by StackExchange.Redis.</li>
        </ul>
    </div>

    <div class="plugin-usage">
        <h1 class="section-header">Usage Summary</h1>
        <ul>
            <li>The following is example Redis configuration contained within <code-viewer type="tutorial-webapi" name="appsettings.json">appsettings.json</code-viewer></li>
            <li>The above indicates that the database named 'testdb' will be associated with the database having an identifier of 1.</li>
            <li>The database name is used when invoking the GetDatabase and GetSubscriber methods of the <code-viewer type="net-fusion" name="Integration/NetFusion.Redis/IRedisService.cs">IRedisService</code-viewer> interfaces from within a component.</li>
            <li>Once the Redis plug-in is configured, the IDatabase and IPublisher interfaces, provided by StackExchange, can be referenced by invoking methods on the IRedisService for a specific database.</li>
        </ul>
    </div>

    <div class="plugin-examples">
        <h1 class="section-header">Examples</h1>
        <p>
            The following shows an example of sending data to Redis using the IDatabase interface implementation provided by StackExchange. 
            This example will set and pop data from a Redis set.
        </p>
        <div class="plugin-example">
            <h2 class="section-header">Setting/Popping Data in Redis</h2>
            <p>
                This example IRedisService interface and obtains a configured named Redis database.  Two method are provided in the 
                 
            </p>
            <div class="inputs">
                <button type="submit" mat-raised-button (click)="loadSettings()" color="primary">Load Configuration</button>
            </div>
            <div class="results">
                <json-viewer [json]="injectedSettings" class="viewer"></json-viewer>
            </div>
        </div>
    </div>
</div>