<nav-toolbar [isDisplayed]="true"></nav-toolbar>
<div class="area-content">
    <div class="plugin-summary">
        <h1 class="section-header">Plugin Summary</h1>
        <div class="portal-definition-list">
            <dl class="version-info">
                <dt>Nuget Package</dt><dd>{{nugetPackageName}}</dd>
                <dt>Documentation</dt><dd><a href="{{documentationUrl}}" target="_blank">View</a></dd>
            </dl>
        </div>
    </div>

    <div class="plugin-overview">
        <h1 class="section-header">Overview</h1>
        <ul>
            <li></li>
            <li></li>
        </ul>
    </div>

    <div class="plugin-usage">
        <h1 class="section-header">Usage Summary</h1>
        <ul>
            <li></li>
            <li></li>
        </ul>
    </div>

    <div class="plugin-examples">
        <h1 class="section-header">Base Enrichers</h1>
        <p>
        
        </p>
        <ul>
            <li></li>
            <li></li>
        </ul>
        <div class="plugin-example">
            <h2 class="section-header">Custom Enrichers</h2>
            <ul>
                <li></li>
                <li></li>
            </ul>
        </div>
    </div>
</div>