<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
      <section name="netFusion" type="NetFusion.Settings.Configs.NetFusionConfigSection, NetFusion.Settings" />
      <section name="mongoAppSettings" type="NetFusion.Settings.MongoDB.Configs.MongoAppSettingsConfigSection, NetFusion.Settings.MongoDB" />
    </configSections>

    <netFusion>
      <hostConfig environment="Development" />
    </netFusion>

    <mongoAppSettings>
      <settingsStore mongoUrl="mongodb://localhost:27017" databaseName="NetFusion" collectionName="NetFusion.AppSettings" />
    </mongoAppSettings>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
</configuration>
