@import '../../../../../styles/colors.scss';

.nav-toolbar {
    background-color: $area-toolbar;
    color: $area-toolbar-text;
    min-height: 50px;
    height: 50px;
    font-size: 16px;

    .spacer {
        flex: 1 1 auto;
    }

    button {
        margin-left: 5px;
    }
}