@import '../../../../../styles/colors.scss';

::ng-deep .mat-option-text {
  color: $area-list-text !important;
}

.area-selection {
  margin-left: 12px;

  ::ng-deep .mat-select-arrow {
    color: $selected-area-menu;
  }

  ::ng-deep .mat-form-field-underline {
    background-color: $selected-area-menu;
  } 

  ::ng-deep .mat-select-value-text {
    font-weight: bold;
    color: $selected-area-text;   
  }
}

.dashboard-nav-menu {

  mat-list-item {
    height: 32px;
    margin-bottom: 10px;

    &.selected-item {
      background-color: $selected-nav-highlight;
      border-radius: 23px;
      
      a {
        color: $selected-nav-text;
      }
    }

    .item-icon {
      fill:$nav-item-icon !important;
    }

    a {
      display: block;
      text-decoration: none;
      font-family: Roboto,"Helvetica Neue",sans-serif;
      font-size: 14px;
      color: white;
      -webkit-user-select: none; /* Safari */        
      -moz-user-select: none; /* Firefox */
      -ms-user-select: none; /* IE10+/Edge */
      user-select: none; /* Standard */
      width: 100%;
      height: 20px;
      padding-top: 2px;
      padding-left: 60px;
      margin-left: -40px;
      margin-right: -16px;
      z-index: 1;
    }

    &:hover {
      a {
        color: $hover-nav-text;
      }
    }
  }
}
