<mat-form-field class="area-selection" *ngIf="selected">
    <mat-select class="area-list" (selectionChange)="onAreaSelected($event.value)" [(value)]="selected.appArea">
        <mat-option *ngFor="let appArea of applicationAreas" [value]="appArea">
            <mat-icon class="item-icon" [svgIcon]="appArea.iconName"></mat-icon>
            {{appArea.areaName}}
        </mat-option>
    </mat-select> 
</mat-form-field>

<mat-list class="dashboard-nav-menu" style="padding-left:0; padding-right:16px" *ngIf="selected">
    <mat-list-item [class.selected-item]="isSelectedMenu(menuItem)" *ngFor="let menuItem of selected.appArea.menuItems">
        <mat-icon class="item-icon" [svgIcon]="menuItem.iconName" *ngIf="isMenuEnabled(menuItem)" ></mat-icon>
        <a routerLink='{{menuItem.route}}' *ngIf="isMenuEnabled(menuItem)">{{menuItem.title}}</a>
    </mat-list-item>
</mat-list>

{{isBinding()}}


