@import 'src/styles/definition-list.scss';
@import 'src/styles/table.scss';

a {
    font-weight: bold;
    font-style: italic;
    cursor: pointer;
    text-decoration: underline;
    color: $definition-header-text; 
}