<div fxLayout="row" fxLayoutAlign="start center" *ngIf="!isEditingConnection">
    <button mat-icon-button (click)="addApplication()" >
        <mat-icon svgIcon="add-item"></mat-icon>
    </button>
    <button mat-icon-button (click)="testConnections()" >
        <mat-icon svgIcon="process-item"></mat-icon>
    </button>
</div>

<div *ngIf="application.compositeAppSettings.hasApplications && !isEditingApplication">
    <mat-table name="connection-listing" #table [dataSource]="applications">
        <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef>Application Name</mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="address">
            <mat-header-cell *matHeaderCellDef>Composite Log Address</mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.address}}/{{element.entryPath}} </mat-cell> 
        </ng-container>

        <ng-container matColumnDef="actions">
            <mat-header-cell *matHeaderCellDef></mat-header-cell>
            <mat-cell *matCellDef="let element">
                <button mat-icon-button (click)="editApplication(element)" >
                    <mat-icon svgIcon="edit-item"></mat-icon>
                </button>
                <button mat-icon-button (click)="deleteApplication(element)" >
                    <mat-icon svgIcon="delete-item"></mat-icon>
                </button>
                <button mat-raised-button color="primary" (click)="navigateToCompositeApp(element)">
                    View
                </button>
            </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="applicationColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: applicationColumns;"></mat-row>
    </mat-table>
</div>

<div name="connection-entry">
    <div fxLayout="row" class="dialog-instructions">
        <span class="dialog-message" *ngIf="!application.compositeAppSettings.hasApplications">
            You currently don't have any saved applications.
            Please enter your first composite application connection.
        </span>
    </div>
    
    <form [formGroup]="applicationEntry" novalidate autocomplete="off">
        <div fxLayout="row" *ngIf="isEditingApplication">
            <div fxLayout="column" fxFill>
                <mat-form-field class="example-full-width">
                    <input type="text" formControlName="name" matInput placeholder="Application Name">
                    <mat-icon matSuffix svgIcon="input-text"></mat-icon>
                    <mat-error *ngIf="isInputInvalid('name')">
                        Required and between 5 and 20 characters.
                    </mat-error>
                </mat-form-field>
    
                <mat-form-field class="example-full-width">
                    <input type="text" formControlName="address" matInput placeholder="Composite API Address">
                    <mat-icon matSuffix svgIcon="input-url" ></mat-icon>
                    <mat-error *ngIf="isInputInvalid('name')">
                        Required and between 5 and 100 characters.
                    </mat-error>
                </mat-form-field>

            </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="end center">
            <button mat-raised-button color="primary" *ngIf="isEditingApplication" 
                [disabled]="!applicationEntry.valid || !applicationEntry.dirty" (click)="saveApplication()">Save</button>
            <button mat-raised-button color="warn" *ngIf="displayCancel" (click)="cancelEdit()">Cancel</button>
        </div>
    </form>
</div>

