[name='connection-listing'] {
    max-width: 650px;
    min-width: 500px;
}

[name='connection-entry'] {
    max-width: 650px;
    min-width: 500px;
    padding-top: 50px;
}

.mat-column-add,
.mat-column-delete,
.mat-column-entries {
    max-width: 30px;
    padding-left: 10px;
}

/* .connection-list-container {
    max-height: 250px;
    height: 250px;
} */

/* .mat-table {
    overflow: auto;
    max-height: 250px;
} */
