
  .menu-items mat-list-item {
    cursor: pointer;
    height: 32px;
    margin-bottom: 10px;
  }

  .menu-items mat-list-item a {
    display: block;
    text-decoration: none;
    font-family: Roboto,"Helvetica Neue",sans-serif;
    font-size: 14px;
    color: white;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
    padding-left: 10px;
  
  }
  .menu-items mat-list-item:hover a {
    color:rgb(220, 220, 220);
    
  }

/* Selected menu item styles */

.menu-items mat-list-item.selected {
  background-color: #CFD8DC;
  color: white;
}

.menu-items mat-list-item.selected-item {
  background-color: #565454;
  border-radius: 23px;
}
