<div fxLayout="row" class="detailCard">
<mat-card  fxFlex="80" class="card-info card-list" fxFill>
    <mat-card-title>Application Overview</mat-card-title>       
    <mat-card-content>
        Allows viewing and navigation of REST/HAL based web API's.  While not specific to NetFusion, there are
        server side plug-ins that can be used for returning resources and their associated relations. 
        As projects grow in size, having a utility allowing the navigation of resources and relations is valuable.
    </mat-card-content>
</mat-card>
</div>

<div fxLayout="row" class="detailCard">
<mat-card  fxFlex="80" class="card-info card-list" fxFill>
    <mat-card-title>Resources</mat-card-title>       
    <mat-card-content>
        <ul>
            <li><a href="http://stateless.co/hal_specification.html" target="_blank">HAL Specification</a></li>
        </ul>
    </mat-card-content>
</mat-card>
</div>