<nav-toolbar [isDisplayed]="true"></nav-toolbar>
<div class="area-content">
    <div class="plugin-summary">
        <h1 class="section-header">Plugin Summary</h1>
        <div class="portal-definition-list">
            <dl class="version-info">
                <dt>Nuget Package</dt><dd>{{nugetPackageName}}</dd>
                <dt>Documentation</dt><dd><a href="{{documentationUrl}}" target="_blank">View</a></dd>
            </dl>
        </div>
    </div>

    <div class="plugin-overview">
        <h1 class="section-header">Overview</h1>
        <ul>
            <li>Allows stored expressions to be applied against an attributed entity.</li>
            <li>Expressions can read/update a strongly-typed properties specified on the entity.</li>
            <li>Expressions can read/add/update dynamic-attributes associated with the entity.</li>
            <li>Expressions are associated when an entity-type and identified by name.</li>
            <li>Expressions are compiled the first time they are referenced and cached.</li>
            <li>Expressions are applied to an entity by injecting the IEntityScriptingService.</li>
            <li>By default, the NullScriptingService is added to the dependency-injection container.</li>
        </ul>
    </div>

    <div class="plugin-usage">
        <h1 class="section-header">Usage Summary</h1>
        <ul>
            <li>
                Entities for which expressions are defined usually implement the IAttributedEntity 
                interface so dynamically calculated properties can be associated with the core
                domain-entity.
            </li>
            <li>
                An expression references an entity's property by prefixing it with Entity.  For example,
                the "Age" property of an entity would be referenced as: "Entity.Age" within the expression.
            </li>
            <li>
                An expression references a dynamic entity's attribute by prefixed it with the "_" character.
                For example, to reference a dynamic attribute name "IsNewCustomer", the following would be
                specified within the expression: "_.isNewCustomer".
            </li>
            <li>
                When evaluating a script against an entity using the IEntityScriptingService, the script 
                with the name "default" is executed if a specific name is not specified.
            </li>
            <li>
                If a specific script name is specified and there is also a script defined with the name 
                "default", the "default" script is executed prior to the specified script name.  This 
                allows common entity expressions to reused by other specificity named scripts.
            </li>
        </ul>
    </div>

    <div class="plugin-examples">
        <h1 class="section-header">Examples</h1>
        <p>
            To simply the example, a single script for the Sensor domain-entity is defined within memory.
            This script is found in the following class:  InMemoryScriptingService and the service returned
            from the LoadSensorScript method is registered as a singleton service for the IEntityScriptingService
            implementation within the web host's Startup class.
        </p>
        <div class="plugin-example">
            <h2 class="section-header">Evaluate Entity Expressions</h2>
            <ul>
                <li>Based on the expressions stored in code, change the state of the posted Sensor resource.</li>
                <li>Different entity and dynamic-attribute values will yield different results.</li>
            </ul>
            <div class="inputs">
                <div>
                    <textarea [(ngModel)]="newEntityBody"></textarea>
                </div> 
                <button type="submit" mat-raised-button (click)="onEvaluateEntity()" color="primary">Apply Expressions</button>
            </div>
            <div class="results">
                <json-viewer [json]="evaluatedEntityResult" class="viewer"></json-viewer>
            </div>
        </div>
    </div>
</div>