@import '../../../styles/colors.scss';

#app-container {
  position: absolute;
  top: 64px;
  bottom: 0px;
  left: 0;
  right: 0;

  .dashboardLogin{
    
  }

  .main-toolbar {
    padding-right: 15px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    #sideToggleIcon.menu-closed {
      transform: rotate(90deg); 
    }

    .toolbar-spacer {
      flex: 1 1 auto;
    }  

    .logo {
      width: 40px;
      height: 40px;
      padding: 10px
    }

    .app-title {
      font-weight: bold;
    }
  }

  .side-nav {
    padding: 10px;
    width: 228px;
    background-color: $nav-sidebar;
  }

  .nav-content {
    &.not-logged-in {
      background-color: #0D47A1
    }

    &.logged-in {
      background-color: #efefef;
    }
  }
}