<div fxLayout="row" fxLayoutAlign="start center" *ngIf="!isEditingNotification">
   <button mat-icon-button (click)="addNotification()" >
        <mat-icon svgIcon="add-item"></mat-icon>
    </button>
</div>
 
<div *ngIf="application.notificationSettings.hasNotifications && !isEditingNotification">
    <mat-table name="connection-listing" #table [dataSource]="notifications">
        <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef>Notification Name</mat-header-cell>
            <mat-cell *matCellDef="let notification"> {{notification.name}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="sourceType">
            <mat-header-cell *matHeaderCellDef>Source Type</mat-header-cell>
            <mat-cell *matCellDef="let notification"> {{notification.sourceType}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="sourceName">
            <mat-header-cell *matHeaderCellDef>Source Name</mat-header-cell>
            <mat-cell *matCellDef="let notification"> {{notification.sourceName}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="sourceValue">
            <mat-header-cell *matHeaderCellDef>Source Value</mat-header-cell>
            <mat-cell *matCellDef="let notification"> {{notification.sourceValue}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="actions">
            <mat-header-cell *matHeaderCellDef></mat-header-cell>
            <mat-cell *matCellDef="let notification">
                <button mat-icon-button (click)="editNotification(notification)" >
                    <mat-icon svgIcon="edit-item"></mat-icon>
                </button>
                <button mat-icon-button (click)="deleteNotification(notification)" >
                    <mat-icon svgIcon="delete-item"></mat-icon>
                </button>
            </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="notificationColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: notificationColumns;"></mat-row>
    </mat-table>
</div>

<div name="notification-entry">
    <div fxLayout="row" class="dialog-instructions">
            <span class="dialog-message" *ngIf="!application.notificationSettings.hasNotifications">
            You currently don't have any saved notifications.
            Please enter your first notification.
        </span>
    </div>

    <form [formGroup]="notificationEntry" novalidate autocomplete="off">
            <div fxLayout="row" *ngIf="isEditingNotification">
            <div fxLayout="column" fxFill>
                <mat-form-field class="example-full-width">
                    <input type="text" formControlName="name" matInput placeholder="Notification Name">
                    <mat-error *ngIf="isInputInvalid('name')">
                        Required and between 5 and 50 characters.
                    </mat-error>      
                </mat-form-field>

                <mat-form-field>
                    <mat-select placeholder="Source Type" formControlName="sourceType">
                        <mat-option *ngFor="let sourceTypeItem of sourceTypes.items" [value]="sourceTypeItem.value">{{sourceTypeItem.displayValue}}</mat-option>
                    </mat-select>
                </mat-form-field>                  
     
                <mat-form-field class="example-full-width">
                    <input type="text" formControlName="sourceName" matInput placeholder="Source Name">
                    <mat-error *ngIf="isInputInvalid('sourceName')">
                        Required and between 1 and 50 characters.
                    </mat-error>      
                </mat-form-field>

                <mat-form-field class="example-full-width">
                    <input #sourceValue type="text" formControlName="sourceValue" matInput placeholder="Source Value">
                    <mat-error *ngIf="isInputInvalid('sourceValue')">
                        Required and between 1 and 50 characters.
                    </mat-error>      
                </mat-form-field>
            </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="end center">
            <button mat-raised-button color="primary" *ngIf="isEditingNotification" 
                [disabled]="!notificationEntry.valid || !notificationEntry.dirty" (click)="saveNotification()">Save</button>
            <button mat-raised-button color="warn" *ngIf="displayCancel" (click)="cancelEdit()">Cancel</button>
        </div>
    </form>
</div> 