root = true
[*]

resharper_replace_with_primary_constructor_parameter_highlighting=none
resharper_suggest_var_or_type_simple_types_highlighting=none
resharper_suggest_var_or_type_built_in_types_highlighting=none
resharper_unused_member_global_highlighting=none
resharper_class_never_instantiated_global_highlighting=none
resharper_property_can_be_made_init_only_global_highlighting=none
resharper_auto_property_can_be_made_get_only_global_highlighting=none
resharper_collection_never_updated_global_highlighting=none
resharper_unused_auto_property_accessor_global_highlighting=none
resharper_unused_method_return_value_global_highlighting=none
resharper_unused_member_in_super_global_highlighting=none
resharper_suggest_var_or_type_elsewhere_highlighting=none
resharper_member_can_be_private_global_highlighting=none
resharper_unused_type_global_highlighting=none
resharper_invert_if_highlighting=none
resharper_member_can_be_protected_global_highlighting=none
resharper_convert_if_statement_to_switch_statement_highlighting=none
resharper_collection_never_queried_global_highlighting=none
resharper_member_can_be_made_static_global_highlighting=none