<nav-toolbar [isDisplayed]="true"></nav-toolbar>
<div class="area-content">
    <div class="plugin-summary">
        <h1 class="section-header">Plugin Summary</h1>
        <div class="portal-definition-list">
            <dl class="version-info">
                <dt>Nuget Package</dt><dd>{{nugetPackageName}}</dd>
                <dt>Documentation</dt><dd><a href="{{documentationUrl}}" target="_blank">View</a></dd>
            </dl>
        </div>
    </div>

    <div class="plugin-overview">
        <h1 class="section-header">Overview</h1>
        <ul>
            <li>Provides implementation of <a href="http://stateless.co/hal_specification.html" target="_blank">HAL</a>.</li>
            <li>Allows resources to be associated with links allowing navigation to related resources.</li>
            <li>Links for updating the resource's state are also specified.</li>
            <li>Organizes REST Api and allows easier consumer programming against the API since links are directly related with the resource being acted on.</li>
            <li>The links to be associated with resources are stored external to the ASP.NET WebApi controller methods using a typed fluent API.</li>
            <li>When a resource is returned from a controller's API method, a media-type formatter associates links and populates any route parameters from the resource's state.</li>
            <li>Template based URLs can also be associated with a resource.  For template based URLs, it is the client's responsibility to substitute any route parameters with values.</li>
            <li>A resource can have another resource or collection of resources embedded.  This allows for easy altering of the API to support consumer needs without breaking contracts.</li>
        </ul>
    </div>

    <div class="plugin-usage">
        <h1 class="section-header">Usage Summary</h1>
        <ul>
            <li>
                Resources are classes implementing the <code-viewer type="net-fusion" name="Web/NetFusion.Rest.Resources/Hal/IHalResource.cs">IHalResource</code-viewer> interface.  
                Derived classes can implement this interface by deriving from the default <code-viewer type="net-fusion" name="Web/NetFusion.Rest.Resources/Hal/HalResource.cs">HalResource</code-viewer> 
                implementation.
            </li>
            <li>
                A WebApi based service implementation specifies the links associated with a resource by deriving a class from the 
                <code-viewer type="net-fusion" name="Web/NetFusion.Rest.Server/Hal/HalResourceMap.cs">HalResourceMap</code-viewer> base class.
            </li>
            <li>
                The derived HalResourceMap class overrides the OnBuildResourceMap and specifies the links associated with a given resource type by calling the base Map method for a 
                given resource type.  
            </li>
            <li>When the NetFusion.Rest plugin is registered, it automatically configures the meta-type formatter and scans for all HalResourceMap derived classes.</li>
            <li>
                A resource can be embedded within a parent resource by calling the Embed method.  This method takes a reference to a resource or resource collection and
                a string value used to identify the embedded resource.
            </li>
            <li>
                When invoking a HAL REST based API, the caller must specify application/hal+json as the Accept http header value.
            </li>
        </ul>
    </div>

    <div class="plugin-suggestions">
        <h1 class="section-header">Suggestions</h1>
        <ul>
            <li>It is best for resources to be simple POCO classes specifying properties derived from entities managed by the service API.</li>
            <li>If resources related to another resource can change overtime, it may be best to embed these resources into a parent resource.</li>
            <li>If a resource related to another is optional based on the request, it is best to embed the optional resource into the parent resource.</li>
            <li>It is best to return non-template based resource links since route parameter don't have to be specified by the consumer of the service.</li>
            <li>Normally, resources are defined within the WebApi project since they define the REST api contract.</li>
        </ul>
    </div>
    <div class="plugin-examples">
        <h1 class="section-header">Examples</h1>
        <p>
           The following examples are kept simple to illustrate the returning of linked resources.  Normally, a WebApi controller method would dispatch
           a query or inject a repository resulting in the returning of domain-entities.  The controller method would then transform these domain-entities
           into the corresponding resources.  The derived HalResourceMap class <code-viewer type="tutorial-webapi" name="Resources/SchoolResourceMap.cs">SchoolResourceMap</code-viewer> 
           is associated with this example.
        </p>
        <div class="plugin-example">
            <h2 class="section-header">Resource Links</h2>
            <p>
                This example shows links being associated with a returned <code-viewer type="tutorial-webapi" name="Resources/SchoolResource.cs">School</code-viewer> resource.  
                The associated links have any route parameters populated based on the state of the returned resource.  This example also shows the related 
                <code-viewer type="tutorial-webapi" name="Resources/AddressResource.cs">Address</code-viewer> resource being embedded in the parent School resource.
            </p>
            <div class="inputs">
                <button type="submit" mat-raised-button (click)="onQueryLinkedResource()" color="primary">Query Resource</button>
            </div>
            <div class="results">
                <json-viewer [json]="linkedResourceResult" class="viewer"></json-viewer>
            </div>
        </div>

        <div class="plugin-example">
            <h2 class="section-header">Related Resources</h2>
            <p>
                This example loads a collection of related resources and shows and example of a template based link and a link referencing an external API.
                The return resource has an embedded collection of Student resources.
                The Student's related link with the key of "update", is a fully populated link.
                The Student's related link with the key of "address", is an example of a template based link (referencing a controller).
                The Student's related link with the key of "student-info", is an example of a template link (referencing an external api URL).
            </p>
            <ul>
                <li>For template based URLs, the controller must be marked with the GroupMeta attribute and the method with the ActionMeta attributes.</li>
                <li>
                    These two attributes associate an unique value with the controller and method used to resolve the controller's method associated
                    with a template based link. 
                </li>
            </ul>
            <div class="inputs">
                <button type="submit" mat-raised-button (click)="onQueryRelatedResource()" color="primary">Query Resource</button>
            </div>
            <div class="results">
                <json-viewer [json]="relatedResourceResult" class="viewer"></json-viewer>
            </div>
        </div>
    </div>
</div>