@import '~@angular/material/theming';

$light-primary-base: $mat-blue;
$light-accent-base: $mat-light-blue;
$light-warn-base: $mat-red;

$light-primary: mat-palette($light-primary-base, 800);
$light-accent:  mat-palette($light-accent-base, 400);
$light-warn:    mat-palette($light-warn-base, 900);

$app-background: mat-color($light-primary-base, 800);
$app-item-icon: mat-color($light-primary-base, 700);
$app-item-icon-danger: mat-color($light-warn-base, 500);
$app-item-icon-disabled: mat-color($light-primary-base, 50);

// Side Navigation:
$nav-sidebar: mat-color($light-primary-base, 900);
$area-list-text: mat-color($light-primary-base, 900);
$selected-nav-text: mat-color($light-primary-base, 100);
$selected-nav-highlight: mat-color($light-primary-base, 800);
$selected-area-text: #FFFFFF;
$selected-area-menu: mat-color($light-primary-base, 800);
$hover-nav-text: mat-color($light-primary-base, 100);
$nav-item-icon: mat-color($light-primary-base, 200);

// Dialog:
$dialog-background: mat-color($light-primary-base, 50);
$dialog-header: mat-color($light-primary-base, 800);
$dialog-header-text: #FFFFFF;
$dialog-text: mat-color($light-primary-base, 900);

// Definition List:
$definition-header-text: mat-color($mat-blue, 900);
$definition-term-text: mat-color($mat-blue, 900);
$definition-value-text: #000000;
$definition-separator: mat-color($light-primary-base, 800);

// Area Contents:
$area-toolbar: mat-color($light-primary-base, 900);
$area-toolbar-text: mat-color($light-primary-base, 200);

// https://material.io/design/color/#tools-for-picking-colors
// https://material.angular.io/guide/theming