// Angular Material Theme settings:

@import '~@angular/material/theming';
@include mat-core();
@import 'colors.scss';

$custom-theme: mat-light-theme($light-primary, $light-accent, $light-warn);
@include angular-material-theme($custom-theme);


// Common application styles:

body {
  background-color: $app-background;
}

button {
    mat-icon.app-item-icon {
        fill: $app-item-icon;
    }

    mat-icon.app-item-icon-danger {
        fill: $app-item-icon-danger;
    }

    &:disabled {
        mat-icon.mat-icon.app-item-icon {
            fill: $app-item-icon-disabled;
        }
    }
}

.portal-dialog {
    .mat-dialog-container {
        padding: 0 24px 24px 24px !important;
        background-color:$dialog-background;
    }

    .mat-dialog-title {
        margin-left: -24px !important;
        margin-right: -24px !important;
        padding: 3px 30px;
        background-color: $dialog-header;
        color: $dialog-header-text
    }
}

textarea {
    width: 550px;
    height: 250px;;
}

.area-content {
    padding: 10px;
}

mat-divider {
    margin-top: 20px !important;
    margin-bottom: 20px !important;
}

.boondocks-intro {
    padding: 20px;
    img {
        width: 200px;
        height: auto;
    }

    div.message {
        padding: 8px;
        color: white;
        font-weight: bold;
        font-style: italic;
    }
}

.portal-alert {
    // transform: translateY(-30%);

    .mat-simple-snackbar {
        font-size: 13px;
        color: #FFFF;
    }

    .mat-simple-snackbar-action {
        .mat-button-wrapper {
            font-size: 12px;
            color: $dialog-text;
        }
    }
}

.portal-alert-info {
    background: #118a41;
}

.portal-alert-warning {
    .mat-simple-snackbar {
        color: #0D47A1;
     }
 
     background: #40a7ff;
}

.portal-alert-error {
    .mat-simple-snackbar {
        color: #FFFF;
        font-weight: bold;
     }
 
     background: #c30909;
}

.input-val-message {
    color: red;
}

dl {
    dt {
        font-weight: bold;
        margin-top: 5px;
    }
}

h1.section-header {
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    color: $definition-header-text;  
}

h2.section-header {
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    font-style: italic;
    color: $definition-header-text;  
}

.section-notes {
    font-size: 14px;
    padding: 12px;
    color: $definition-header-text;

}