
[name='active-menu-toobar'] {
    height: 44px;
    background-color: #424242;
}

[name='active-menu-toobar'] mat-icon {
    padding-left: 15px;
}

#menu-content-container {
    padding-left: 15px;
    padding-right: 15px;
}

.toolbar-spacer {
    flex: 1 1 auto;
}

[name='header-toolbar'] {
    background-color: #1864c2
}

[name='footer-toolbar'] {
    background-color: #1864c2
}